// ----- font-family
$f-inter: Inter, sans-serif;
$f-worksans: WorkSans, sans-serif;


// ----- breakpoint
$bp-desktop: 1024;
$bp-table: 768;
$bp-mobile: 320;

// ----- color
$c-green: rgb(50, 205, 50);
$c-red: rgb(255, 0, 0);
$c-white: rgb(255, 255, 255);
$c-gray-opacity: rgba(252, 252, 252, 0.65);
$c-gray: rgb(152, 152, 166);
$c-gray-dark: rgb(76, 78, 84);
$c-gray-dark-opacity: rgba(235, 235, 255, 0.05);
$c-black: rgb(23, 23, 25);
$c-black-light: rgb(33, 33, 36);
$c-blue-light: rgb(0, 255, 255);
$c-violet: rgb(124, 68, 252);
$c-violet-opacity: rgba(124, 68, 252, 0.2);