.container {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 3.2rem;
  width: 51.2rem;
  height: 52rem;
  height: 50rem;
}

.button {
  margin-left: 2rem;
  width: 10rem;
  height: 3.5rem;

  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-top: 3rem;
  }
}